.registerBackground {
  min-height: 100vh;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  background-color: white;
  padding: 2.5rem 0.5rem;
  border-radius: 8px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emailLabel,
.usernameLabel,
.passwordLabel,
.confirmPasswordLabel {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.passwordLabel,
.emailLabel,
.confirmPasswordLabel {
  margin-top: 2rem;
}

.createTitle {
  margin-bottom: 2.5rem;
  font-size: 25px;
}

input {
  padding: 1rem 1.5rem;
  border-radius: 10px;
  border: 1px solid rgb(206, 206, 206);
  width: 15rem;
}

input:focus {
  outline: 2px solid rgb(83, 83, 83);
}

.registerButton {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(34, 34, 34);
  color: white;
  font-weight: 500;
  transition: all 0.2s ease;
  font-size: 17px;
}

.registerButton:hover {
  cursor: pointer;
  color: rgb(34, 34, 34);
  background-color: white;
}

a {
  color: rgb(19, 106, 219);
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}

.registerError {
  padding: 0 1.5rem;
  margin-top: 1rem;
  color: rgb(248, 0, 0);
  text-align: center;
}

@media (min-width: 1200px) {
  .registerContainer {
    width: 25%;
  }

  .registerButton {
    font-size: 16.5px;
  }
}
