.resetContainer {
  height: 100dvh;
  background-color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  background-color: white;
  height: 250px;
  width: 80%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.form label {
  font-weight: 500;
}

.input input:focus {
  outline: none;
}

.input {
  display: flex;
  align-items: center;
  border: 1.5px solid rgb(53, 53, 53);
  padding: 7px;
  justify-content: space-between;
  border-radius: 9999px;
  width: 95%;
}

.input:focus-within {
  box-shadow: 0 0 0 1px rgb(53, 53, 53);
}

.input input {
  border: none;
  width: 100%;
  font-size: 15px;
}

.sendButton {
  margin-top: 0.5rem;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  background-color: rgb(34, 34, 34);
  border: 1px solid rgb(34, 34, 34);
  color: white;
  font-weight: 500;
  transition: all 0.2s ease;
  font-size: 15px;
}

.sendButton:hover {
  cursor: pointer;
  color: rgb(34, 34, 34);
  background-color: white;
}

.successContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.checkIcon {
  font-size: 30px;
}

.successMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  text-align: center;
  margin: 15px;
  gap: 1rem;
}

@media (min-width: 1200px) {
  .formContainer {
    height: 300px;
    width: 20%;
  }

  .sendButton {
    font-size: 15px;
  }

  .checkIcon {
    font-size: 40px;
  }

  .successMessage {
    font-size: 17px;
  }
}
