.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav a {
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.navProfilePicture {
  width: 3rem;
  border-radius: 100%;
}

.logoutButton {
  font-size: 30px;
  margin-right: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0.5rem 1rem;
  background-color: rgb(254, 254, 254);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.logoutButton:hover {
  background-color: #f0f0f0;
}

.logoutButton span {
  font-size: 13px;
  font-weight: 500;
  margin-right: 0.5rem;
}

.displayContainer {
  margin-top: 2.5rem;
  margin-bottom: 1.75rem;
  display: flex;
  justify-content: center;
}

.activeTab {
  background-color: rgb(247, 247, 247);
  color: rgb(48, 91, 231);
  border-color: rgb(30, 64, 175);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.displayContainer button {
  padding: 0.75rem 1.5rem;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.2s ease;
}

.inactiveTab {
  background-color: transparent;
  color: #555;
  border: 2px solid transparent;
}

.inactiveTab:hover {
  color: rgb(48, 91, 231);
}

@media (min-width: 1200px) {
  .nav a {
    font-size: 18px;
    color: black;
    font-weight: 500;
  }

  .nav a:hover {
    text-decoration: underline;
  }

  .navProfilePicture {
    width: 5rem;
  }

  .logoutButton {
    font-size: 50px;
  }

  .logoutButton span {
    font-size: 18px;
    font-weight: 500;
  }

  .logoutIcon {
    width: 35px;
  }

  .displayContainer button {
    font-size: 20px;
  }
}
