.linkCard {
  text-decoration: none;
  color: black;
  font-weight: 500;
  box-shadow: 0 2px 8px -4px rgba(0, 0, 0, 0.2);
}

.linkCard:hover {
  background-color: rgb(245, 245, 245);
  transition: background-color ease 0.5s;
}

.profilePicture {
  width: 5rem;
  border-radius: 5px;
}

.convsListContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  padding-left: 1rem;
}
